build/
bin/
src/version.h
*anjuta*
*kdev4*
*.pyc
*.Rhistory
*.aux
*.bbl
*.out
*.log
*.DS_Store
*~
*.blg
*CMakeFiles*
*Makefile
*cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
